<div class="container m-3 p-3 bg-secondary-subtle">
  <h1>This is our products:</h1>
  <!--<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
      @for (product of productList; track $index){
        <tr>
          <th scope="row">{{product.id}}</th>
          <td>{{product.title}}</td>
          <td>{{product.price}}</td>
          <td>{{product.description}}</td>
          <td><button type="button" class="btn btn-outline-info" (click)="navegate(product.id)">Details</button></td>
        </tr>
      }
    </tbody>
  </table>-->

  <div class="row row-cols-1 row-cols-md-3 g-4">
    @for (product of productList; track $index){
    <div class="col">
      <div class="card h-100">
        <a [routerLink]="['/products', product.id]"><img src="{{product.image}}" class="card-img-top img-fluid p-4" alt="{{product.title}}"></a>
        <div class="card-body">
          <h3 class="card-title">{{ product.title }}</h3>
          <h5 class="card-title">{{ product.price | currency:'EUR':'symbol' }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <button type="button" class="btn btn-outline-info" (click)="navegate(product.id)">Details</button>
        </div>
      </div>
    </div>
    }
  </div>
</div>
